<!DOCTYPE html>
<html>
<head>
	<title>Add Employee Information</title>
</head>
<style>
.myDiv {
  border: 5px outset purple;
  background-color: lightpurple;
  text-align: center;
}
</style>
<center>
	<font color="black" size="4" style="font-family: avenir">

		<h1 style="color: Purple">ABOUT US</h1>

		<body>
			
					
				<div class="myDiv">
				<div>
							
					<h4>The Beginning</h4>
								
					<p>TARUC Pharmacy was established in 1994 by 5 pharmacists, who were
						course-mates in the School of Pharmacy, Universiti Sains Malaysia
						(USM). TARUC Pharmacy is a small-medium business in Malaysia.
										At the time, the awareness of community pharmacy services was 
										still low. The founders, took these important steps to instill the
										value of pharmacists in the healthcare profession by:</p>
								
					<ol>
						<li>Providing 12 hours a day, 7 days a week full time pharmacist
							service.
										</li>
										
						<li>Providing easily accessible pharmacist counseling service, free
							blood pressure checks and other health checks at a minimum fee.
							Designing the store with a modern, open concept to maximise
							interaction with customers and merchandise.
										</li>
					</ol>
				</div>
		
				<div id="Biography">
					<h4>Biography</h4>
					<p>
						<q class="blockquote">We wanted to instill a fresh concept on retail
							pharmacy, unlike any other</q>, stated by 5 pharmacists, founder of TARUC Pharmacy. 
												
										<q class="blockquote">Healthcare services is growing
							rapidly throughout the nation as well for my home country,
							Malaysia, I am committed to serve the community and enrich lives.</q>
					</p>
				</div>
				
			</div>
		</body>

	</font>
</center>
</html>
