<!DOCTYPE html>
<html>
<head>
	<title>About Us</title>
</head>
<style>
.myDiv {
  border: 5px outset purple;
  background-color: lightpurple;
  text-align: center;
}
</style>
<center>
	<font color="black" size="4" style="font-family: avenir">

		<h1 style="color: Purple">ABOUT US</h1>

		<body>
			
					
				<div class="myDiv">
				<div>
							
					<h4>The HR Management on AWS Cloud Service</h4>
								
					<p>Devoleped by LEE YUN HONG, TAN HUEY ERN</p>
							<p>@2022</p>
				
					<h4>Lecturer</h4>
					<p>
						Mr Low Choon Keat - Best and Lengzai Lecturer
						<div>
						<a href="add_link">
							<img alt="Qries" src="https://cdn.discordapp.com/attachments/866576907587813396/1024208846383755305/IMG_0617.jpg"
							width="500" height="300" alt="superphoto" >
						 </a>
						</div>
					</p>
				</div>
				
			</div>
		</body>

	</font>
</center>
</html>
