<!DOCTYPE html>
<html>
<style>
.myDiv {
  border: 5px outset purple;
  background-color: lightpurple;
  text-align: center;
}
</style>
<head>
	<title>Employee Information</title>
</head>
<form>
<div class="myDiv">
<center>
	<font color="black" size="5" style="font-family: avenir">

		<h1 style="color: purple">Employee Information</h1>

		<body bgcolor="lightyellow">
					<div>

			  	    Employee ID:<br> {{ id }} <br><br>

			  		First Name:<br> {{ fname }} <br><br>

			  		Last Name:<br> {{ lname }} <br><br>

			  		Primary Interest:<br> {{ priSkill }} <br><br>

			  		Location:<br> {{ location }} <br><br>
					
			  		<button type="submit" style="background: rgb(209, 193, 228); height: 45px; width: 200px; color:black; font:oblique;" formaction="/">BACK</button><br><br>

			  		</div>
				</div>
			</form>

		

		<form action="/editemp" autocomplete="on" method = "POST" enctype="multipart/form-data">
			<input type="hidden" name="emp_id" value="{{ id }}">
			<div class="myDiv">
				<br>
		  		First Name:<br> <input style="height:25px;font-size:14pt;color:rgb(209, 193, 228);" type="text" name="first_name" ><br><br>

		  		Last Name:<br> <input style="height:25px;font-size:14pt;color:rgb(209, 193, 228);" type="text" name="last_name"><br><br>

		  		Primary Skills:<br> <input style="height:25px;font-size:14pt;color:rgb(209, 193, 228);" type="text" name="pri_skill"><br><br>

		  		Location:<br> <input style="height:25px;font-size:14pt;color:rgb(209, 193, 228);" type="text" name="location"><br><br>
				<br>
				<input type="submit" value="Update Database" style="background: rgb(209, 193, 228); height: 45px; width: 200px; color: black; size: 5; font:oblique;">
				<br>
				<br>
			</div>
		</form>
		<form action="/delete-emp" method="POST">
			<div class="myDiv">
				<label for="suggest_delete">Enter Employee ID for delete:</label>
				<br>
				<input style="height:25px;font-size:14pt;color:rgb(209, 193, 228);" type="text" name="emp_id" value="{{id}}" required>
				<br>
				<br>
				<input type="submit" name="delete" value="Delete" style="background: rgb(209, 193, 228); height: 45px; width: 200px; color: black; size: 5; font:oblique;">
				<br>
				<br>
			</div>
		</form>
		<form action="/attendance-emp" method="POST">
			<div class="myDiv">
				<br>
				<div class="input-box-transparent">
					<input type="hidden" name="attendance_id" value="A">
				</div>

				<div class="input-box-transparent">
					<input type="hidden" name="date" value="">
				</div>

				<div class="input-box-transparent">
					<input type="hidden" name="time" value="">
				</div>

				<label for="">Tick For Attendance</label><br>
				<div id="checkboxgroup">
					<input type="checkbox" name="attendance" value="Present" checked> Present<br>
					<input type="checkbox" name="attendance" value="Absent"> Absent<br>
					<input type="checkbox" name="attendance" value="MC"> MC<br>
				</div>

				<script>
					var group_ = (el, callback) => {
						el.forEach((checkbox) => {
							callback(checkbox)
						})
					}

					group_(document.getElementsByName('attendance'), (item) => {
						item.onclick = (e) => {
							group_(document.getElementsByName('attendance'), (item) => {
								item.checked = false;
							})
							e.target.checked = true;

						}
					})
				</script>
				<div>
					<input type="hidden" name="emp_id" value="{{ id }}">
				</div>
				<div>
					<input type="submit" name="delete" value="Save Attendance" value="Delete" style="background: rgb(209, 193, 228); height: 45px; width: 200px; color: black; size: 5; font:oblique;">
				</div>				
				<br>
			</div>
		</form>
		<br>
		<form>
			<div class="myDiv">
			<label>Employees Attendances Results</label>
			<br>
			<br>
			{% for attendance in att_result %}
			{{attendance}}
			<br>
			{% endfor %}
			</div>
		</form>		


	</body>

	</font>
</center>
</html>
